In [ ]:
%%sql
CREATE DATABASE IF NOT EXISTS climate;

In [ ]:
# Check what catalogs are configured
spark.sql("SHOW CATALOGS").show()

In [ ]:

%%sql
CREATE TABLE IF NOT EXISTS climate.weather (
    datetime              timestamp,
    temp                  double,
    lat                   double,
    long                  double,
    cloud_coverage        string,
    precip                double,
    wind_speed            double
)
USING iceberg
PARTITIONED BY (days(datetime))

In [ ]:
from datetime import datetime

schema = spark.table("climate.weather").schema

data = [
    (datetime(2023,8,16), 76.2, 40.951908, -74.075272, "Partially sunny", 0.0, 3.5),
    (datetime(2023,8,17), 82.5, 40.951908, -74.075272, "Sunny", 0.0, 1.2),
    (datetime(2023,8,18), 70.9, 40.951908, -74.075272, "Cloudy", .5, 5.2)
  ]

df = spark.createDataFrame(data, schema)
df.writeTo("climate.weather").append()

In [ ]:
df = spark.read.csv("s3a://raw/Nubank_2025-01-10.csv", header=True, inferSchema=True)

In [ ]:
!pyspark --packages org.apache.hadoop:hadoop-aws:3.3.2

# Ler todos os CSVs
df_raw = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("s3a://raw/nubank/*.csv")